@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*-------------HEADER----------------*/
header{
    background-color: #cd1b1b;
    position: sticky;
    top: 0;
}

header nav a img{
    width: 100px;
    height: 100px;
}

header nav ul{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: #3F292B;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: 2s;
}

header nav ul li a:hover{
    color: #5FAD41;
}

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


/*---------------MAIN-----------------*/

/*----INDEX----*/

.hero-index{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/herobackground2.jpg);
    width: 100%;
    height: calc(100vh - 105px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.hero-index div{
    color:#f9c374;
    text-align: center;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-index div p{
    margin-bottom: 150px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.hero-index div h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    padding: 30px 0 60px 0;
}

.hero-index div h2 a{
    text-decoration: none;
    color: #1e1e24;
    background-color: #f9c374;
    padding: 3px 10px 7px 10px;
    border-radius: 10px;
    transition: 1s;
}

.hero-index div h2 a:hover{
    background-color:#5FAD41;
}

.variedades-index{
    background-color: #1e1e24;
    padding: 20px;
}

.variedades-index div{
    display: flex;
    justify-content: space-evenly ;
    flex-wrap: wrap;
}

.variedades-index div div{
    border: 1px solid #f9c374;
    border-radius: 10px;
    height: 230px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.variedades-index div img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.variedades-index div div h2{
    color: #f9c374;
    text-align: center;
}

.variedades-index h2{
    text-align: center;
}
.variedades-index h2 a{
    text-decoration: none;
    color: #f9c374;
    padding: 3px 10px 7px 10px;
    background-color: #cd1b1b;
    border-radius: 10px;
    transition: 1s;
}

.variedades-index h2 a:hover{
    background-color:#5FAD41;
}

.eventos-index{
    background-color: #f9c374;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.eventos-index div{
    width: 50%;
}

.eventos-index div h2{
    color: #1e1e24;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 50px 50px 30px 50px;
}

.eventos-index div p{
    padding: 0 50px 20px 50px;
    color: #3F292B;
    font-family: 'Montserrat', sans-serif;
}

.eventos-index div img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.eventos-index div h3 a{
    text-decoration: none;
    background-color: #3F292B;
    color: #cd1b1b;
    padding: 7px 10px 10px 10px;
    border-radius: 10px;
    transition: 1s;
}

.eventos-index div h3 a:hover{
    background-color:#5FAD41;
}

.cursos-index{
    background-color: #1e1e24;
    display: flex;
    flex-wrap: wrap;
}

.cursos-index div{
    width: 50%;
}

.cursos-index div iframe{
    width: 100%;
    border-radius: 10px;
}

.cursos-index div h2{
    color: #5FAD41;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.cursos-index div h3{
    color: #f9c374;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    padding: 50px 50px 30px 50px;
}

.cursos-index div p{
    color: #f9c374;
    font-family: 'Montserrat', sans-serif;
    padding: 0 100px 20px 100px;
}

.cursos-index div h4{
    padding: 5px 0 10px 0;
}

.cursos-index div h4 a{
    text-decoration: none;
    background-color: #f9c374;
    color: #1e1e24;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    transition: 1s;
}

.cursos-index div h4 a:hover{
    background-color: #5FAD41;
}

.cursos-contacto{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*----MENU----*/
.variedades-menu{
    width: 100%;
    height: 550px;
    background-color: #5FAD41;
    font-family: 'Montserrat', sans-serif;
}

.variedades-menu h1{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.variedades-menu div div h2{
    font-size: 15px;
    font-weight: bold;
    color: #1e1e24;
}

.variedades-menu div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 250px;
    gap: 10px;
}


.variedades-menu div div{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.variedades-menu div div img{
    width: 90%;
    height: 70%;
    border-radius: 10px;
    object-fit: cover;
}

.armatupizza-menu{
    background-color:#3F292B;
    font-family: 'Montserrat', sans-serif;
    color: #f9c374;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.armatupizza-menu div{
    width: 50%;
}

.armatupizza-menu div h2{
    padding: 0 0 50px 0;
}

.armatupizza-menu div p{
    margin: 0 45px 0 45px;
}

.armatupizza-menu div img{
    width: 90%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*----CONTACTO----*/

.contacto-nosotros{
    width: 100%;
    height: 250px;
    background-color: #f9c374;
    font-family: 'Montserrat', sans-serif;
    color: #3F292B;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.contacto-nosotros h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.contacto-nosotros div{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacto-nosotros div h3{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*----EVENTOS----*/

.opciones-eventos{
    width: 33.33%;
    height: calc(100vh - 105px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #f9c374;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


.eventos-sociales{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/eventossociales.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:local;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.eventos-sociales p{
    margin: 0 25px 0 25px;
}

.eventos-sociales a{
    text-decoration: none;
    font-weight: bolder;
    color: #1e1e24;
    background-color:#cd1b1b;
    border-radius: 10px;
    margin: 0 130px 0 130px;
    transition: 1s;
}

.eventos-sociales a:hover{
    background-color: #5FAD41;
}

.eventos-empresariales{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/eventosempresariales.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: local;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.eventos-empresariales a{
    text-decoration: none;
    font-weight: bolder;
    color: #1e1e24;
    background-color:#cd1b1b;
    border-radius: 10px;
    margin: 0 130px 0 130px;
    transition: 1s;
}

.eventos-empresariales a:hover{
    background-color: #5FAD41;
}


.eventos-pizzaparty{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/pizzaparty.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: local;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.eventos-pizzaparty a{
    text-decoration: none;
    font-weight: bolder;
    color: #1e1e24;
    background-color:#cd1b1b;
    border-radius: 10px;
    margin: 0 130px 0 130px;
    transition: 1s;
}

.eventos-pizzaparty a:hover{
    background-color: #5FAD41;
}

/*GALERIA EVENTOS BOOTSTRAP*/


.marcas-eventos{
    width: 100%;
    height: 320px;
    background-color: #f9c374;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.marcas-eventos h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.marcas-eventos div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/*----SUCURSALES----*/

.mapas-sucursales{
    width: 100%;
    height: calc(100vh - 105px);
    background-color: #3F292B;
    gap: 10px;
    color: #f9c374;
    display: flex;
}

.mapas-sucursales div{
    width: 33.33%;
}

.mapas-sucursales div h2{
    margin-bottom: 30px;
}

.mapas-sucursales div iframe{
    width: 100%;
    height: 80%;
    border-radius: 10px;
}

.franquicias-sucursales{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/franquicias.jpg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: local;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 23, 23);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.franquicias-sucursales h2{
    font-size: 30px;
    margin-bottom: 50px;
}

.franquicias-sucursales p{
    font-size: 20px;
    font-weight: bolder;
    padding: 0 20px 30px 20px;
}

.franquicias-sucursales a{
    background-color: #f9c374;
    text-decoration: none;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    transition: 1s;
}

.franquicias-sucursales a:hover{
    background-color: #5FAD41;
}







/*--------------FOOTER-----------------*/

footer{
    background-color: #cd1b1b;
    width: 100%;
    height: 75px;
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

footer a{
    margin: 15px;
}

footer h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #1e1e24;
}
