@import "../base/variables";

/*----HEADER----*/
div {
    header{
        background-color: #cd1b1b;
        position: sticky;
        top: 0;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        nav{
            ul{
                list-style: none;
                text-align: center;
                div{
                    li{
                        a{
                            text-decoration: none;
                            color: #3F292B;
                            transition: 2s;
                            img{
                                height: 20vh;
                            }
                            &:hover{
                                color: #5FAD41;
                            }
                        }
                    }
                }
            }
        }
    }
}
