@import "../base/variables";

/*----HEADER----*/
div {
    header{
        background-color: #cd1b1b;
        position: sticky;
        top: 0;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        nav{
            ul{
                list-style: none;
                text-align: center;
                div{
                    li{
                        a{
                            text-decoration: none;
                            color: #3F292B;
                            transition: 2s;
                            img{
                                height: 20vh;
                            }
                            &:hover{
                                color: #5FAD41;
                            }
                        }
                    }
                }
            }
        }
        .cart-btn{
                display: flex;
                justify-content: flex-end;
                #cart{
                    position: relative;
                    font-size: 2rem;
                    cursor: pointer;
                    margin: 1em 4em 0 0;
                    align-content: flex-end;
                }
                .cart-quantity{
                    color: $color-principal;
                    background-color: $color-secundario;
                    padding: .2em .3em;
                    position: absolute;
                    margin: .8em 7.5em 0 0;
                    right: 0;
                    border: solid 2px $color-secundario;
                    border-radius: 15px;
                    font-weight: bolder;
                }
        }
        .cart-modal-overlay{
            position: fixed;
            width: 100vw;
            height: 90%;
            z-index: 2;
            transform: translateY(-200%);
            transition: 1s ease-out;
            &.open{
                transform: translateY(0%);
            }
            .cart-modal{
                height: 100vh;
                width: 50%;
                background-color: $color-quinario;
                float: right;
                overflow: scroll;
                overflow-x: hidden;
                color: $color-principal;
                #close-btn{
                    font-size: 1.5rem;
                    float: right;
                    margin: .5em 2em 0 0;
                    color: $color-secundario;
                    cursor: pointer;
                }
                .total{
                    text-align: center;
                    margin: 2em 0 2em 0;
                    .cart-total{
                        color: $color-secundario;
                    }
                    .total-price{
                        color: $color-secundario;
                        font-size: 2rem;
                        display: block;
                    }
                    .purchase.btn{
                        font-size: 1rem;
                        font-weight: bolder;
                        background-color: $color-terciario;
                        color: $color-secundario;
                        padding: 1em 2em;
                        border-radius: 10px;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        margin: 2em 0 1em 0;
                    }
                }
                .product-rows{
                    margin-top: 3em;
                    width: 95%;
                    margin-left: auto;
                    margin-right: auto;
                    .product-row{
                        display: flex;
                        align-items: center;
                        .cart-image {
                            width: 10rem;
                            margin: 1em;
                        }
                        .cart-price {
                            color: $color-secundario;
                            font-size: 1.5rem;
                            font-weight: bolder;
                        }
                        .product-quantity {
                            width: 4rem;
                            font-size: 2rem;
                            margin-left: 3rem;
                        }
                        .remove-btn {
                            padding: 1em 2em;
                            background-color: $color-principal;
                            color: $color-secundario;
                            outline: none;
                            border: none;
                            cursor: pointer;
                            margin-left: 3rem;
                            font-weight: bolder;
                            font-size: 1rem;
                        }
                        
                        .remove-btn:active {
                            transform: translateY(5px);
                        }
                    }
                }
            }
        }
    }
}

